.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.navbar a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    transition: background 0.3s, color 0.3s;
    padding: 10px 15px;
    border-radius: 5px;
}

.navbar a:hover {
    background-color: #3310bf;
    color: #fff;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 20px auto;
}

form input,
form button {
    margin: 5px 0;
    padding: 10px;
}


@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
        gap: 10px;
    }
}